<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Components / コンポーネント</title>
</head>
<body>

<!-- https://vuejs.org/v2/guide/components.html#Local-Registration -->
<!-- https://jp.vuejs.org/v2/guide/components.html#ローカル登録 -->

<div id="example">
    <my-component></my-component>
</div>

<!-- https://vuejs.org/v2/guide/components.html#data-Must-Be-a-Function -->
<!-- https://jp.vuejs.org/v2/guide/components.html#data-は関数でなければならない -->

<div id="example-2">
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
</div>

<!-- https://vuejs.org/v2/guide/components.html#Dynamic-Props -->
<!-- https://jp.vuejs.org/v2/guide/components.html#動的なプロパティ -->

<div id="example-3">
    <input v-model="parentMsg">
    <child v-bind:my-message="parentMsg"></child>
</div>

<!-- https://vuejs.org/v2/guide/components.html#Prop-Validation -->
<!-- https://jp.vuejs.org/v2/guide/components.html#プロパティ検証 -->

<!-- TODO -->

<!-- https://vuejs.org/v2/guide/components.html#Using-v-on-with-Custom-Events -->
<!-- https://jp.vuejs.org/v2/guide/components.html#カスタムイベントとの-v-on-の使用 -->

<div id="counter-event-example">
    <p>{{ total }}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>

<!-- https://vuejs.org/v2/guide/components.html#Form-Input-Components-using-Custom-Events -->
<!-- https://jp.vuejs.org/v2/guide/components.html#カスタムイベントを使用したフォーム入力コンポーネント -->

<div id="app">
    <currency-input label="Price" v-model="price"></currency-input>
    <currency-input label="Shipping" v-model="shipping"></currency-input>
    <currency-input label="Handling" v-model="handling"></currency-input>
    <currency-input label="Discount" v-model="discount"></currency-input>
    <p>Total: ${{ total }}</p>
</div>

<!-- https://vuejs.org/v2/guide/components.html#Customizing-Component-v-model -->
<!-- https://jp.vuejs.org/v2/guide/components.html#コンポーネントの-v-model-のカスタマイズ -->

<div id="example-4">
    <my-checkbox v-model="foo" value="some value"></my-checkbox>
</div>

<script src="require-config.js"></script>
<script src="build/js/require.js"></script>
<script>require(['components'])</script>

</body>
</html>