<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- https://jp.vuejs.org/v2/guide/#宣言的レンダリング -->

<div id="app">
    {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<!-- https://jp.vuejs.org/v2/guide/#条件分岐とループ -->

<div id="app-3">
    <p v-if="seen">Now you see me</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<!-- https://jp.vuejs.org/v2/guide/#ユーザー入力の制御 -->

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<!-- https://jp.vuejs.org/v2/guide/#コンポーネントによる構成 -->

<div id="app-7">
    <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
</div>

<script src="https://unpkg.com/vue"></script>

<script src="build/js/kotlin.js"></script>
<script src="build/js/vuekt.js"></script>
<script src="build/js/guide.js"></script>

</body>
</html>