<!DOCTYPE html>
<html lang="ja" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Rendering / リストレンダリング</title>
</head>
<body>

<!-- https://vuejs.org/v2/guide/list.html#Mapping-an-Array-to-Elements-with-v-for -->
<!-- https://jp.vuejs.org/v2/guide/list.html#v-for-で配列に要素をマッピングする -->

<ul id="example-1">
    <li v-for="item in items">{{ item.message }}</li>
</ul>

<ul id="example-2">
    <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
</ul>

<!-- https://vuejs.org/v2/guide/list.html#v-for-with-an-Object -->
<!-- https://jp.vuejs.org/v2/guide/list.html#オブジェクトの-v-for -->

<ul id="repeat-object" class="demo">
    <li v-for="(value, key, index) in object">
        {{ index }}. {{ key }} : {{ value }}
    </li>
</ul>

<!-- https://vuejs.org/v2/guide/list.html#v-for-with-a-Component -->
<!-- https://jp.vuejs.org/v2/guide/list.html#コンポーネントと-v-for -->

<div id="todo-list-example">
    <input v-model="newTodoText"
           v-on:keyup.enter="addNewTodo"
           placeholder="Add a todo">
    <ul>
        <!-- FIXME: todos can not be used.
             MutableList has properties other than array. -->
        <li is="todo-item"
            v-for="(todo, index) in todo_array"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="removeTodo(index)"></li>
        <!-- FIXME: todos.removeAt(index) can not be used.
             A suffix is appended to the function name on Kotlin standard library. -->
    </ul>
</div>

<script src="require-config.js"></script>
<script src="build/js/require.js"></script>
<script>require(['list'])</script>

</body>
</html>